<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="loadingOverlay" class="loading-overlay" style="display: flex;">
        <img src="https://media.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif" alt="Loading..." class="loading-image">
    </div>

    <div id="savingOverlay" class="saving-overlay" style="display: none;">
        <img src="https://media.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif" alt="Saving..." class="saving-image">
    </div>

    {% if not authorized %}

        <div class="header">
            <a class="button" href="{{ url_for('login') }}">Login</a>
        </div>

    {% else %}

        <div class="header">
            <div class="user-section">
                <img class="user-avatar" src="{{ user.avatar_url or user.default_avatar_url }}" alt="User Avatar">
                <span class="user-greeting">Hello {{ user.name }}! (alpha 0.1)</span>
            </div>
            <div class="logout-container">
                <a class="button" id="logoutBtn" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>

        <br><br>

        <div id="characterList" class="character-list">
            {% for id, character in characters.items() %}
                <div class="character-item" data-character-id="{{ id }}">
                    <div class="character-image-container">
                        <img src="{{ character['characterImage'] }}" alt="{{ character['characterName'] }}">
                    </div>
                    <div class="character-info">
                        <h2>{{ character['characterName'] }}</h2>
                    </div>
                    <button class="removeCharacterBtn" data-character-id="{{ id }}">&times;</button>
                </div>
            {% endfor %}
            <!-- Add Character Button -->
            <button id="addCharacterBtn" class="button">Add Character</button>
        </div>        
        

        <div id="editMode" class="edit-mode">
            <button id="backBtn" class="button">Back</button>
        
            <div class="edit-header">
                <img id="editAvatar" src="" alt="Editing Character Avatar">
                <div class="greeting-and-save">
                    <span id="editGreeting">Editing </span>
                    <button id="saveBtn" class="button">Save</button>
                </div>
            </div>

            <!-- Dynamically create buttons/containers -->
        
            <div class="submenu-buttons">
                <!-- Default buttons... -->
                <button class="submenu-button" data-menu="profile">Profile</button>
                <button class="submenu-button" data-menu="image">Image</button>
                <button class="submenu-button" data-menu="skills">Skills</button>
                <button class="submenu-button" data-menu="details">Details</button>
                <button class="submenu-button" data-menu="measurements">Sizes</button>
                <!-- Dynamic buttons from list... -->
                {% for value in submenu_values %}
                    <button class="submenu-button" data-menu="{{ value | lower }}">{{ value | title }}</button>
                {% endfor %}
            </div>

            <!-- Default containers... -->
            <div id="profileContainer" class="form-submenu"></div>   
            <div id="imageContainer" class="form-submenu"></div>
            <div id="imageGalleryContainer" class="image-gallery-container"></div>
            <div id="skillsContainer" class="form-submenu"></div>
            <div id="detailsContainer" class="form-submenu"></div>
            <div id="measurementsContainer" class="form-submenu"></div>
            <!-- Dynamic containers from list... -->
            {% for value in submenu_values %}
                <div id="{{ value | lower }}Container" class="form-submenu"></div>
            {% endfor %}

        </div>
    
        <!-- This will act as our backdrop -->
        <div class="backdrop" id="backdrop"></div>

    {% endif %}

    <script type="module" src="{{ url_for('static', filename='js/char_details.js') }}"></script>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const loadingOverlay = document.getElementById('loadingOverlay');
            const isAuthorized = {% if not authorized %} false {% else %} true {% endif %};
    
            if (!isAuthorized && loadingOverlay) {
                loadingOverlay.style.display = 'none';
            }
        });
    </script>    
</body>
</html>
